body {
    font-family: 'Rubik', sans-serif;
    //background-size: 100%;
    //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../../images/background.jpg");
    //box-shadow: inset 0 0 200px black;
    //background-size: cover;
    //background: url("../../images/background.jpg");
    background-color: whitesmoke;
    
    .landing_box{
        //border: 1px solid black;
        //color: blacksmoke;
        height: 100vh;

        .row_box{
            //border: 1px solid black;
            position: absolute;
            top: 50%;
            left: 40%;
            right: 50%;
            height: 50%;
            width: 70%;
            margin: -15% 0 0 -25%;
        }
        .left_box_desc{
            //border: 1px solid black;

            h1{
                font-size: 3.5em;
                color: rgb(14, 150, 132);
            }
            p{
                font-size: 2em;
                color: #13B5A0;
            }

            // .btn-warning{
            //     color: white;
            // }
        }

        .right_box_logo{
            //border: 1px solid black;
            img{
                //width: 120%;
                width: 550px;
            }
        }
    }
}

// #mainInfo {
//     border-radius: 8px;
//     padding: 25px;
//     margin-top: 30px;
//     text-align: center;
//     background-color: #7e7e7ebd;
//     /* box-shadow: grey 3px 3px 10px; */
// }

// #mainInfo :not(.nonOpaque) {
//     opacity: 0.7;
// }

// #register {
//     padding: 25px;
// }

// h1 {
//     font-weight: bold;
// }

